<div>
    <h1 class="move">Nome dell'organizzazione: {{org.name}} </h1>
    <table class="table" summary="Monthly savings for the Flintstones family">
        <thead>
            <tr>
                <th colspan="3">Lista delle coordinate dell'organizzazione</th>
            </tr>
            <tr>
                <th scope="col">#Punto</th>
                <th scope="col">Coordinata X</th>
                <th scope="col">Coordinata Y</th>
            </tr>
        </thead>
        <tr *ngFor="let coord of coordinates; index as i">
            <th scope="row">{{ i }}</th>
            <td>{{ coord.lat }}</td>
            <td>{{ coord.long }}</td>
        </tr>
    </table>
</div>