<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <span id="img"></span>
  <span class="btn btn-light navbar-brand position" (click)="homePage()"> {{organization}} </span>
  <ul class="navbar-nav mr-auto " id="oneline">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Organizzazione
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown"><!--*ngFor="let org of organizations; index as i"-->
        <!--<li class="dropdown-item" (click)="setOrg($event)">{{org[i]}}</li>-->   <!--id="first_org"-->
        <li id="first_org" class="dropdown-item" (click)="setOrg($event)" href="#">Organizzazione 1</li><!--TEMP-->
        <li class="dropdown-item" (click)="setOrg($event)" href="#">Organizzazione 2</li><!--TEMP-->
        <li class="dropdown-item" (click)="setOrg($event)" href="#">Organizzazione 3</li><!--TEMP-->
      </ul>
    </li>
  </ul>
  <form class="form-inline my-2 my-lg-0">
    <button class="btn btn-outline-danger my-2 my-sm-0" type="submit" (click)="SignOut()">Logout</button>
  </form>
</nav>

