
    <div class="column xs-col-4">
        <!--div class="row"></div-->
        <ul class="list-group">
            <li class="list-group-item btn btn-std">Cras justo odio</li>
            <li class="list-group-item btn btn-std">Dapibus ac facilisis in</li>
            <li class="list-group-item btn btn-std">Morbi leo risus</li>
            <li class="list-group-item btn btn-std">Porta ac consectetur ac</li>
            <li class="list-group-item btn btn-std">Vestibulum at eros</li>
          </ul>
    </div>
