/*div{
    display: block;
}*/
.move{
  margin-left: 1em;
}

p.move{
  margin-left: 2.5em;
}

h1{
  font-size: 1em
}
.col{
  padding: 0;
}

#login{
  position: relative;
  left: 26%;
  margin-top: 10em;
  text-align: center;
}

