<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 *ngIf="authenticationService && authenticationService.userData | async"> Benvenuto {{ (authenticationService.userData | async)?.email }} !</h1>
      <div *ngIf="!(authenticationService.userData | async)">
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="text" id="email" class="form-control" [(ngModel)]="email" placeholder="email">
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" [(ngModel)]="password" id="pwd" placeholder="password">
        </div>
        <button (click)="signIn()" class="btn btn-primary">Login</button>
      </div>
      <button (click)="signOut()" class="btn btn-primary" *ngIf="authenticationService.userData | async">Logout</button>
    </div>
  </div>
</div>
