<div class="container">
  <div *ngIf="isLogin">

  </div>

  <div *ngIf="isPasswordReset">
    <h2>Reset Password</h2>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <input class="form-control" formControlName="email" type="email" placeholder="Email" autocomplete="off"/>
      <p *ngIf="email.invalid && email.dirty">
        Inserisci un indirizzo email valido
      </p>
    </div>
    <br/>
    <div *ngIf="!isPasswordReset">
      <input class="form-control" formControlName="password" type="password" placeholder="Password" autocomplete="off"/>
    </div>

    <div class="server-error">{{ serverMessage }}</div>
    <br/>
    <div>
      <button id="invio" class="btn btn-primary" *ngIf="!isPasswordReset" color="accent" type="submit" [disabled]="form.invalid || loading">
        Invio
      </button>
      <button class="btn btn-primary" *ngIf="isPasswordReset"size="small"  (click)="changeType('login')">
        Torna indietro
      </button>
      <button  id="reset" class="btn btn-primary" *ngIf="isLogin && !isPasswordReset" (click)="changeType('reset')">
        Password Dimenticata?
      </button>
      <button class="btn btn-primary" *ngIf="isPasswordReset" type="submit" [disabled]="loading">
        Invio Email di reset
      </button>
    </div>
  </form>

</div>


